<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.navigationdrawer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/profile_pic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AboutUsActivity"
            android:label="@string/activity_title_about_us" />
        <activity
            android:name=".activity.LoadDataActivity"
            android:label="@string/activity_title_load_data" />

        <!-- Activity -->
        <activity
            android:name=".activity.LevelActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>

        <activity
            android:name=".activity.ScoreActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>

        <!-- Stroop xml-->
        <activity
            android:name=".Stroop.stroop_game_screen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>

        <!-- Card xml-->
        <activity
            android:name=".Card_game.card_game_game_screen"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>

        <!-- Chess xml-->
        <activity
            android:name=".Chess.chess_game_screen"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>

        <!-- Test your brain xml-->
        <activity
            android:name=".Test_your_brain.test_your_brain_game_screen"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>

    </application>

</manifest>