<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chinmay.project">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Project xml-->
        <activity
            android:name=".settings"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>

        <!-- Stroop xml-->
        <activity
            android:name=".Stroop.stroop_game_play"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".Stroop.stroop_game_screen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".Stroop.stroop_score_screen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>

        <!--Brain Challenge xml-->
        <activity
            android:name=".Brain_challenge.brain_game_MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".Brain_challenge.brain_game_game_screen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".Brain_challenge.brain_game_quiz_screen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".Brain_challenge.brain_game_result_screen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>

        <!-- Chess game xml-->
        <activity
            android:name=".Chess.chess_First_Page"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".Chess.chess_Level_Chooser"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".Chess.chess_MainActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>

        <!--Card game xml-->
        <activity
            android:name=".Card_game.card_game_FirstScreen"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".Card_game.card_game_LevelChooser"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".Card_game.card_game_Game"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>

        <!-- Test your brain xml-->
        <activity
            android:name=".Test_your_brain.test_your_brain_FirstPage"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".Test_your_brain.test_your_brain_LevelChooser"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".Test_your_brain.test_your_brain_MyAndroidAppActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".Test_your_brain.test_your_brain_Settings"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".Test_your_brain.test_your_brain_StartActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"></activity>
    </application>

</manifest>